main {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

h3 {
    font-size: 3.5em;
    font-weight: 700;
    margin: 0 0 0 0.5em;
    display: block;
}

img {
    max-width: 50%;
    border-radius: 10px;
    transition: transform .7s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
}

*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    font-family: 'Roboto';    
    font-style: normal;
    font-weight: 200;
}

.about {
    padding: 6em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6em;
}

.about__img {
    justify-self: end;
}

.resume {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

section {
    padding: 6em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info {
    width: 50%;
}

.light_gray--bg {
    background-color: lightgray;
}

.dark_gray--bg {
    background-color: darkgray;
}

.hello {
    height: 550px;
}

.hello__title {
    font-size: 12em;
    line-height: 1.0;
    margin: 0;
}

.hello__subtitle {
    font-size: 25px;
    margin: 32px 0 0 30px;
    justify-content: flex-start;
}

.center_text {
    text-align: center;
    width: 50%;
}

iframe {
    margin: auto;
}

.link {
    color: steelblue;
}

.link:hover {
    text-decoration: underline;
}

/* gradient text and animation From: https://codepen.io/bsander/pen/pPpbNm */
.gradient-text{
    background: linear-gradient(to right, cyan,gold,cyan);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
  }
  .gradient-text:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

/* spin text */
.spin {
    position: relative;
  }

.spin span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}

/* accordion 2  From: https://codepen.io/coding_beast/pen/PoZgYGR */
.accordion-menu {
	display: inline-block;
    position: relative;
	left: 50%;
	margin: 150px 0;
	transform: translate(-50%, 0);
	max-width: 300px;
    padding: 10px 20px 20px;
	border-radius: 5px;
}
ul {
	list-style: none;
	perspective: 900;
	padding: 0 20px 10px;
    margin: 0;
    background-color: lightgray;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 
	0 2px 2px 0 rgba(255, 255, 255, 0.19);
}
ul li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

ul li:nth-child(1){ border:none; }
ul li:nth-of-type(1) { animation-delay: 0.5s; }
ul li:nth-of-type(2) { animation-delay: 0.75s; }
ul li:nth-of-type(3) { animation-delay: 1.0s; }
ul li:last-of-type { padding-bottom: 0; }

ul li .arrow {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}
ul li .fas{
	color:black;
	font-size: 15px;
	margin-right: 10px;
}
ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	background-color: black;
	width: 3px;
	height: 9px;
}
ul li .arrow:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
    z-index: 1;    
    opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
	transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
	animation: flipdown 0.5s ease both;
}
.no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}
@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}

	5% { opacity: 1; }

	80% { transform: rotateX(8deg); }

	83% { transform: rotateX(6deg); }

	92% { transform: rotateX(-3deg); }

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}