html,body
{
    font-family: 'Roboto';
    font-size: 22px;
    padding: 50px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: darkorange;
    text-decoration: none;
}

img {
    max-width: 90%;
    border-radius: 10px;
    margin: auto;
}

.center {
    margin: auto;
    border: 3px solid green;
}